* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.w {
  width: 1200px;
  /* background-color: pink; */
}
body {
  background-color: #f3f5f7;
}
.header {
  margin: 30px auto;
  height: 42px;
}
.logo {
  width: 192px;
  height: 42px;
  float: left;
}
.nav {
  float: left;
  margin-left: 60px;
}
li {
  list-style: none;
}
.nav > ul > li {
  float: left;
  margin: 0 15px;
}
.nav ul li a {
  display: block;
  height: 42px;
  padding: 0 10px;
  line-height: 42px;
  color: #050505;
}
.nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
  color: #00a4ff;
}

.search {
  float: left;
  width: 412px;
  height: 42px;
  /* background-color: skyblue; */
  margin-left: 70px;
}
.search input {
  float: left;
  width: 345px;
  height: 40px;
  border: 1px solid skyblue;
  color: #bfbfbf;
  font-size: 14px;
  padding-left: 15px;
}

.search button {
  float: left;
  width: 50px;
  height: 42px;
  /* button 的默认边框需要去掉 */
  border: none;
  background: url('./images/btn.png');
}
.user {
  float: right;
  margin-right: 30px;
  line-height: 42px;
  font-size: 14px;
  color: #666;
}
