<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>flext 布局</title>
</head>

<body>
  <style>
    div {
      display: flex;
      width: 800px;
      height: 200px;
      background-color: skyblue;
      
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
    }

    div span {
      width: 200px;
      height: 50px;
      border: 1px solid #000;
      background-color: pink;
    }
  </style>
  <div>
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
    <span>6</span>
    <span>1+6</span>
    <span>2+6</span>
    <span>3+6</span>
  </div>
</body>

</html>