<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <style>
    div {
      display: flex;
      width: 600px;
      height: 100px;
      background-color: pink;
    }

    div span {
      background-color: green;
      width: 300px;
    }

    div span:first-child {
      background-color: orange;
      flex-shrink: 3;

    }

    div span:last-child {
      background-color: skyblue;

    }
  </style>
  <h2>flex-shrink 的计算</h2>
  <div>
    <span>120</span>
    <span>240</span>
    <span>240</span>
  </div>
</body>

</html>